#vrsek {
    border-radius: 2px;
    padding: 40px;
    text-align: center;
    background: url(./../obrazky/cafe1.jpg);
    color: white;
    font-size: 20px;
}

.body {
    padding: 0px;
    font-size: medium;
    text-align: center;
    background-color: #ffffff;
    color: #0a0603;
}

.text {
    align-items: stretch;
    padding: 10px;
    font-size: medium;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.header {
    padding: 5%;
    text-align: center;
    background: #602e09;
    color: white;
    font-size: 20px;
}

footer {
    padding: 3%;
    font-size: medium;
    text-align: center;
    background-color: #602e09;
    color: white
}