#vrsek {
    border-radius: 2px;
    padding: 40px;
    text-align: center;
    background: url(./../obrazky/cafe1.jpg);
    color: white;
    font-size: 20px;}
    
body {
    padding: 10px;
    font-size: medium;
    text-align: center;
    background-color: #ba8760;
    color:#0a0603;
}
