

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#602e09;
  color: white;
  text-align: center;
}
</style>

<div class="footer">
  <p>Footer</p>
</div> 