.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
}

#sidebar.active {
    margin-left: -250px;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

a:hover{
    color: black;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
    background: #ba8760;
    color: #fff;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #ba8760 (229 43% 20%);
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ba8760;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #602e09;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #602e09;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #ba8760;
}

.footer {
    height: 100px;
    width: 100%;
    position: fixed;
    background: #602e09;
    color: bisque;
    display: flex;
    justify-content: space-evenly;

}

.btn-info {
    color: #fff;
    background-color: #ba8760;
    border-color: #ba8760;
}

.btn-info:hover {
    color: #fff;
    background-color: #602e09;
    border-color: #602e09;
}

.btn-info:active {
    color: #fff;
    background-color: #602e09 !important;
    border-color: #602e09 !important;
}